* {
	padding: 0;
	border: 0;
	margin: 0;
	font-family: "Roboto", serif;
	font-size: 22px;
}
a {
	display: block;
	text-decoration: none;
	color: inherit;
	font-size: inherit;
}
.navbar {
	background-color: #000000;
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 3.5rem 1rem 3.5rem;
}
.nav-left {
	display: flex;
	align-items: center;
}
.nav-left-box {
	padding: 0 1rem 0 1rem;
	display: flex;
	align-items: center;
}
.nav-left-box:first-child {
	border-right: 2px solid #fff;
}
.nav-left-box i {
	margin-right: 0.5rem;
	font-size: 28px;
}
.nav-left-box h1 {
	font-size: 28px;
}
.button {
	border-radius: 5px;
	padding: 0.3rem 1rem 0.3rem 1rem;
	color: #fff;
	cursor: pointer;
}
.nav-button-left {
	border: 1px solid #fff;
	background-color: #222222;
}
.nav-button-right {
	background-color: #4c5fd5;
}
.button-float {
	position: fixed;
	z-index: 1;
	bottom: 20px;
	right: 20px;
}
.button-float button {
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 0.3rem;
	padding: 0.5rem 1rem 0.5rem 1rem;
	border-radius: 25px;
	font-size: 18px;
	background-color: #4c5fd5;
	color: #fff;
}
.jumbotron {
	background-color: #dadbf1;
	height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.jumbotron h2 {
	font-size: 70px;
	margin-bottom: 10px;
	font-weight: inherit;
}
.jumbotron input {
	width: 60vw;
	height: 8vh;
	border-radius: 5px;
	padding: 0.3rem 1rem 0.3rem 1rem;
	border: 1px solid #000000;
	box-shadow: 2px 2px 18px #888888;
}
.jumbotron input:hover {
	border: 1.7px solid #4c5fd5;
	cursor: none;
}
.section {
	display: flex;
	width: 80vw;
	margin: auto;
	margin: 5rem auto 5rem auto;
	flex-wrap: wrap;
}
.card {
	display: flex;
	width: 45%;
	gap: 1rem;
	padding: 1rem;
	align-items: top;
}
.card img {
	height: 80px;
}
.card a {
	color: #4c5fd5;
	font-size: 18px;
}
.card-content {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
